{% extends 'base.html.twig' %}

{% block title 'Formulaire de contact' %}

{% block body %}
<div class="container mt-5">
    <h1>Nous contacter</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form, {'attr': {'onsubmit':"return confirm('Etes vous vraiment sûr ?')"} } ) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary mt-2">Envoyer</button>
    {{ form_end(form) }}
</div>


{% endblock %}
